@tailwind base
@tailwind components
@tailwind utilities

@layer components
  .custom-container
    @apply container mx-auto px-4

  .field
    @apply block mb-4 relative

    & > span
      @apply after:content-['*'] after:ml-0.5 after:text-red-500

    & > span, & > div:first-child
      @apply absolute left-[12px] top-[4px] text-xs text-light-600 font-extralight

    & > i
      @apply absolute right-[12px] top-[4px] text-lg leading-10 text-light-500

  input[type="text"],
  input[type="password"],
  textarea
    @apply transition-all ease-in-out delay-75 duration-100 appearance-none border border-transparent caret-primary rounded-xl block w-full pl-3 pt-5 pb-1 text-light-100 bg-dark-950/10 focus:outline focus:outline-4 focus:outline-primary/10 focus:border-primary focus:ring-primary disabled:bg-dark-50/40 disabled:cursor-not-allowed

  .error
    @apply border-red-700 #{!important}

  .custom-button
    @apply rounded-xl px-6 py-3 text-sm font-bold

    &[type="button"]:not(.action) 
      @apply text-primary hover:bg-light-500/20 focus:ring-4 focus:outline-none focus:ring-primary/20 border border-primary px-5 py-2.5 focus:z-10 disabled:bg-light-500/20 disabled:cursor-not-allowed

    &[type="submit"], &:is(.action)
      @apply uppercase text-white bg-primary hover:bg-primary/80 focus:ring-4 focus:outline-none focus:ring-primary/20 disabled:bg-primary/80 disabled:cursor-not-allowed

  .custom-button-text
    @apply transition-all ease-in-out delay-75 duration-100 rounded-lg px-6 py-3 text-sm font-bold text-primary bg-dark-950/5 hover:bg-dark-950/10 cursor-pointer

  .check
    @apply relative cursor-pointer

    input[type=checkbox]
      @apply appearance-none rounded-md block w-5 h-5 border border-primary/30 bg-dark-950/10 checked:bg-primary/70 focus:outline focus:outline-2 focus:outline-primary/50 focus:border-primary focus:ring-primary disabled:bg-dark-50/40 disabled:cursor-not-allowed

      &:checked ~ i
        @apply transition-all ease-in-out duration-100 text-white

        &
          animation: zoom-anime 0.3s

    i
      @apply transition-all ease-in-out delay-75 duration-100 absolute -top-1.5 text-2xl text-primary/0
      &
        left: -2px

  .flag
    width: 25px
    height: 18.75px
    border-radius: 2px
    @apply drop-shadow-md

@keyframes zoom-anime
  0%, 100%
    @apply transform scale-100
  50%
    @apply transform scale-150